.content-middle-section {
  width: 46%;
  min-width: 450px;
}

.content-diagnosis-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.diagnosis-history {
  padding: 24px !important;
  background: white;
  border-radius: 8px;
}

.diagnosis-history-info {
  display: flex;
  justify-content: space-between;
}

.diagnosis-info {
  border-radius: 10px;
  padding: 16px;
  width: 32%;
}

.diagnosis-info-detail > p {
  font: normal normal medium 16px/22px "Manrope";
  font-weight: 600;
}

.diagnosis-respiratory-rate {
  background-color: #e0f3fa;
}

.diagnosis-temperature {
  background-color: #ffe6e9;
}

.diagnosis-heart-rate {
  background-color: #ffe6f1;
}

.blood-pressure-chart {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #f4f0fe;
  border-radius: 10px;
  padding: 16px;
  margin: 16px 0;
  height: 298px;
}

.blood-pressure-chart-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 60%;
}

.blood-pressure-chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #072635;
  font: normal normal bold 18px/24px "Manrope";
}

.blood-pressure-chart-right-item {
  margin: 16px;
}

.blood-pressure-chart-legend {
  display: flex;
  align-items: center;
}

.blood-pressure-chart-legend > h5 {
  margin-left: 5px;
  font: normal normal bold 14px/19px "Manrope";
}

.blood-pressure-chart-legend-circle {
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 10px;
  outline: 1px solid rgba(0, 0, 0, 0.164);
}

.systolic-legend-circle {
  background-color: #e66fd2;
}

.diastolic-legend-circle {
  background-color: #8c6fe6;
}

.blood-pressure-chart-rate {
  font: normal normal bold 22px/30px "Manrope";
}

.blood-pressure-chart-right-item > p {
  font: normal normal normal 14px/19px "Manrope";
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border: none;
  outline: none;
  background: none;
}

.diagnosis-list {
  padding: 24px !important;
  min-height: 380;
  background: white;
  border-radius: 8px;
}

.diagnosis-list > h2 {
  margin-bottom: 10px;
}

.ant-table-thead .ant-table-cell {
  background-color: #f6f7f8 !important;
  padding: 12px !important;
  border: none !important;
}

.ant-table-thead .ant-table-cell:first-child {
  border-top-left-radius: 25px !important;
  border-bottom-left-radius: 25px;
}

.ant-table-thead .ant-table-cell:nth-last-child(2) {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

:where(.css-dev-only-do-not-override-1g8xl7s).ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:last-child {
  display: none;
}

.ant-table-body {
  scrollbar-width: auto;
  scrollbar-color: auto;
}

.ant-table-body::-webkit-scrollbar {
  width: 4px;
}

.ant-table-body::-webkit-scrollbar-track {
  background-color: #e3e4e6;
  border-radius: 6px;
}

.ant-table-body::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #072635;
}
