.content-patient-profile-section {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 32px;
}

.patient-profile-container {
  padding: 16px;
  background-color: #ffffff !important;
  border-radius: 8px;
}

.patient-profile-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 16px;
}

.patient-profile-top > img {
  height: 200px;
  width: auto;
}

.patient-profile-top > h3 {
  padding: 5px;
  margin: 10px;
  font-size: large;
}

.patient-profile-bio-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}

.patient-profile-bio-item > img {
  height: 42px;
  width: auto;
}

.patient-profile-bio-item-value {
  font: normal normal bold 14px/19px "Manrope";
}

.patient-more-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.patient-more-info > button {
  background-color: #01f0d0;
  border: none;
  height: 41px;
  width: 220px;
  border-radius: 41px;
  margin: 10px;
}

.patient-more-info > button:hover {
  background-color: #3ee3cd;
}
